<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student Manager</title>
</head>
<body>
<div style="background:linear-gradient(to right,#A2007C,#00C5CD); height: 40px;margin-bottom: 20px" th:fragment="headerProduct">
    <p style="text-align: left">CodeGym Đà Nẵng</p>
</div>

<div style="background: linear-gradient(to right,#A2007C,#00C5CD); padding: 20px" th:fragment="footerProduct" >
    <p style="text-align: center">-------------------------------------------Trịnh Văn Ban-------------------------------------------</p>
</div>
</body>
</html>
